header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20 rem;
}
header .header_left{
    margin-top: 2rem;
    margin-bottom: 4rem ;
    max-width: 50rem;
}
header .header_right .header_imagem{
    position: relative;
    line-height: 0;
}

<<<<<<< HEAD
header .header_right .header_imagem .renan{
    content: '';
    width: 450px;
    height: 450px;
    right: 10.5%;
    top: -90px;
    border: 1px solid var(--tertiary-color);
    position: relative;
=======
header .header_right .header_imagem::after{
    content: '';
    width: 10%;
    height: 10%;
    border: 1px solid var(--tertiary-color);
    position: absolute;
    top: -1.5rem;
>>>>>>> 0db4174467a9788e87946414f9eae764ca5dfa73
    border-radius: 0.5rem;
    z-index: -1; 
}